
<div class="row">
    <div class="col">

        <h5 class="card-title">{{ title | titlecase }} ({{ products.length }})</h5>
        
        <div class="alert alert-danger" *ngIf="apiError">{{ apiError }}</div>

        <div class="row">

            <div class="col-4 mb-4" *ngFor="let product of products">

                <div class="card">
                    <img class="card-img-top" src="/assets/shopping.jpg" >
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">${{ product.price }}</p>
                      
                    </div>

                    <button *ngIf="!findInCart(product.id)" (click)="addToCart(product)" class="btn btn-secondary">Add to Cart</button>

                    <div class="row" *ngIf="findInCart(product.id)">
                        <div class="col-2"><button (click)="minusCart(product.id)" class="btn btn-secondary">-</button></div>
                        <div class="col-7 pt-2 text-center">{{ getQuantity(product.id) }} in cart</div>
                        <div class="col-2"><button (click)="plusCart(product.id)" class="btn btn-secondary">+</button></div>
                    </div>

                </div>
                
            </div>
            
        </div>
    </div>
</div>

