<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shopping Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="['cart']" routerLinkActive="router-link-active" >Shopping Cart  
          <span class="badge badge-primary">{{ cartProductsCount }}</span></a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <div class="list-group">

        <!-- Since i was facing some issues with the routerLinkActive part i have made the routing this way -->

        <a href="products" class="list-group-item list-group-item-action active">All Categories</a>
        <a href="products/bread" class="list-group-item list-group-item-action">Bread</a>
        <a href="products/dairy" class="list-group-item list-group-item-action">Dairy</a>
        <a href="products/fruits" class="list-group-item list-group-item-action">Fruits</a>
        <a href="products/seasoning-and-spices" class="list-group-item list-group-item-action">Seasoning and Spices</a>
        <a href="products/vegetables" class="list-group-item list-group-item-action">Vegetables</a>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>